{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Portfoio Details</h2>
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>Portfoio Details</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= Portfolio Details Section ======= -->
  <section id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{% static 'assets/img/portfolio/portfolio-details-1.jpg' %}" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'assets/img/portfolio/portfolio-details-2.jpg' %}" alt="">
              </div>

              <div class="swiper-slide">
                <img src="{% static 'assets/img/portfolio/portfolio-details-3.jpg' %}" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: Data Analyst</li>
              <li><strong>Project type</strong>: Academic</li>
              <li><strong>Project date</strong>: 01 March, 2023</li>
              <li><strong>Project URL</strong>: <a href="https://github.com/youssefhamm/NetFlix_Dataset">Project
                  Link</a></li>
            </ul>
          </div>
          <div class="portfolio-description">
            <h2>This is my project description</h2>
            <p>
              In this miniproject I've tried to analyze the netflix dataset to find out several criteria about the
              population of this famous platform such as the type of movies and video shows most watched,
              the countries that watch them the most, the favorite actors of the Netflix population, as well as other
              criteria that show us the behavior of the populations towards this platform.
              By visualizing all this information with graphs that I've used the Netflix company can improve its
              products and enrich its business.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->

{% endblock %}